.style {
  "background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8Qk9-T2-HrDzDF0GuqJsr9SIPmhchPRWHpA&usqp=CAU');">
} 

.jumbotron {
  font: arial;
  border: black;
  border-style: solid;
  border-width: 10px;
  
}



body {
  background-image: linear-gradient(rgba(196, 152, 30, 0.774), red);
}

img {
  width: 50%;
};


#data {
  display: none;
}

#pic {
  display: none;
}

#mars-pic-show {
  display: none;
}

#mars {
  float: right;
  height: auto;
  width: 30%;
}

#mars-header {
  float: inline-end;
}


background-color: rgba(177, 79, 22, 0.76);