 body {
  background-color: #f14c00e7;
};

img {
  width: 50%;
};

.jumbotron {
  font: arial;
  border: black;
}

#data {
  display: none;
}

#pic {
  display: none;
}

#mars-pic-show {
  display: none;
}